services:
  - type: web
    name: blood-donation-app
    env: docker
    plan: free
    branch: main
    envVars:
      - key: DB_URL
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false